@using Microsoft.AspNetCore.Identity
@using System;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<desafio_proderj.Models.New>

@{
    ViewData["Title"] = "Notícias";
}
<div class="col-md-10">

    @if (SignInManager.IsSignedIn(User)) {
        <div class="align-right">
            <a asp-action="Create" class='btn btn-outline-secondary'>
                Cadastrar Novo
            </a>
        </div>
    }

    <fieldset>
        <legend>Notícias</legend>
        <hr />
        <div class="cards">
            @if (!Model.Any()) { <span>Nenhuma Notícia Cadastrada</span> }
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <img src='@("~/image/" + item.ImageName)' asp-append-version="true" class="card-img-top img-thumbnail" />
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Title
                        </h5>
                        <p class="card-text">
                            @item.Content.Substring(0, (item.Content.Length < 100) ? item.Content.Length : 100)...
                        </p>
                        <a asp-action="Details" asp-route-id="@item.ID" class='btn btn-primary'>
                            Ver Mais
                        </a>
                        @if (SignInManager.IsSignedIn(User)) {
                            <a asp-action="Edit" asp-route-id="@item.ID" class='btn btn-light btn-sm'>
                                Editar
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class='btn btn-danger btn-sm'>
                                Excluir
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    </fieldset>
</div>
